<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>filenames</key>
	<dict>
		<key>Audio/dustbowl.wav</key>
		<string>Audio/dustbowl.m4a</string>
		<key>Audio/glitchglitchflame.wav</key>
		<string>Audio/glitchglitchflame.m4a</string>
		<key>Audio/hustle.wav</key>
		<string>Audio/hustle.caf</string>
		<key>Audio/hustle2.wav</key>
		<string>Audio/hustle2.caf</string>
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
