<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>SpriteSheets/Global/Ligger-Female-Full-SELECTED.png</key>
		<dict>
			<key>frame</key>
			<string>{{297, 636}, {185, 303}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {185, 303}}</string>
			<key>sourceSize</key>
			<string>{185, 303}</string>
		</dict>
		<key>SpriteSheets/Global/Ligger-Female-Full.png</key>
		<dict>
			<key>frame</key>
			<string>{{202, 331}, {185, 303}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {185, 303}}</string>
			<key>sourceSize</key>
			<string>{185, 303}</string>
		</dict>
		<key>SpriteSheets/Global/Ligger-Male-Full-SELECTED.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 334}, {199, 331}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {199, 331}}</string>
			<key>sourceSize</key>
			<string>{199, 331}</string>
		</dict>
		<key>SpriteSheets/Global/Ligger-Male-Full.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {199, 331}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {199, 331}}</string>
			<key>sourceSize</key>
			<string>{199, 331}</string>
		</dict>
		<key>SpriteSheets/Global/backstage-back.png</key>
		<dict>
			<key>frame</key>
			<string>{{202, 1}, {294, 328}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {294, 328}}</string>
			<key>sourceSize</key>
			<string>{294, 328}</string>
		</dict>
		<key>SpriteSheets/Global/backstage-front.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 667}, {294, 328}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {294, 328}}</string>
			<key>sourceSize</key>
			<string>{294, 328}</string>
		</dict>
		<key>SpriteSheets/Global/beer.png</key>
		<dict>
			<key>frame</key>
			<string>{{297, 941}, {45, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {45, 75}}</string>
			<key>sourceSize</key>
			<string>{45, 75}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>textureFileName</key>
		<string>Global.png</string>
	</dict>
</dict>
</plist>
